:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 2%, 25%);
    --bg-rose: hsl(274, 47%, 97%);
    --lightrose: hsl(12, 50%, 92%);
    --lightpink: hsl(339, 60%, 80%);
    --focus-color: hsl(0, 20%, 57%);
    --underline-rose: hsl(0, 61%, 73%);
    --lightgrey: hsl(0, 1%, 48%);
    --map-dot: hsl(0, 58%, 51%);
    --bg-grey: hsl(0, 9%, 91%);
}