:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 2%, 25%);
    --lightrose: hsl(13, 44%, 83%);
    --lightpink: hsl(339, 60%, 80%);
    --focus-color: hsl(0, 20%, 57%);
    --underline-rose: hsl(0, 61%, 73%);
    --lightgrey: hsl(0, 1%, 48%);
}