html {
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}
a:focus {
  color: var(--focus-color);
}
body {
  font-family: var(--font);
  overflow-x: hidden;
}
.sticky-body {
  overflow: hidden;
}