.prices-section {
  display: flex;
  flex-direction: column;
  background: var(--white);
  justify-content: center;
  align-items: center;
}
.prices-welcome {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../img/pinkflower-web.png");
  background-repeat: no-repeat;
  width: 100%;
}

.prices-header {
  margin-top: 60px;
  margin-bottom: 30px;
  display: block;
  text-align: center;
  font-size: 3.1rem;
  letter-spacing: 5px;
  font-family: var(--secondfont);
  color: var(--black);
  text-transform: uppercase;
}
.prices-subheader {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  color: var(--black);
  font-style: italic;
  font-size: 1.2rem;
  padding: 5px;
  margin-bottom: 15px;
}
.prices-link {
  width: fit-content;
  display: inline-block;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  font-size: 1.3rem;
  color: var(--black);
  font-family: "Elsie", cursive;
  font-style: italic;
  font-weight: 500;
  transition: 0.3s all ease-in;
  position: relative;
  &:hover {
    color: var(--lightgrey);
    transform: scale(1.1);
  }
}
.prices-link-arrow {
  margin-top: 15px;
  transform: translateY(0);
  animation: jumping 2s infinite ease both;
}
.content-wrapper {
  background-color: var(--white);
  padding: 20px;
  display: flex;
  padding-top: 60px;
  flex-direction: column;
}
.content-header {
  text-align: center;
  padding: 0 5px 0px 5px;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 300;
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
  margin-bottom: 80px;
  border-bottom: 12px solid var(--bg-grey);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--black);
  font-size: 1.5rem;
}
.prices-container {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
.prices-photo {
  display: none;
}

.table {
  text-align: left;
  background-color: var(--white);
  // max-width: 45%;
  font-family: IBM Plex Sans, sans-serif;
  table-layout: auto;
  width: 100%;
  border-bottom-left-radius: 7px;
  border-collapse: collapse;
}

caption {
  background-color: var(--bg-grey);
  color: var(--black);
  font-size: 1.2rem;
  padding: 20px 0 20px 0;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  font-weight: 900;
}
th {
  background-color: var(--lightgrey);
  color: var(--white);
  padding: 5px 0 5px 5px;
  font-size: 1.1rem;
}
.sub-caption {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  background-color: var(--bg-grey);
  color: var(--black);
  font-size: 1.2rem;
  border-bottom: 1px solid var(--lightgrey);
  border-spacing: 10px;
}

td {
  background-color: var(--bg-grey);
  padding: 5px 0 5px 5px;
  font-size: 0.9rem;
  color: var(--black);
  border-bottom: 1px solid var(--lightgrey);
}
td:nth-child(2) {
  min-width: 77px;
  text-align: right;
  padding-right: 10px;
}

.td-transparent {
  color: transparent;
}
.td-microtext {
  font-size: 0.7rem;
  font-style: italic;
}
.last-cell-left {
  border-bottom-left-radius: 7px;
  border: none;
}
.last-cell-right {
  border-bottom-right-radius: 7px;
  border: none;
}

.something-container {
  display: none;
}

@media (min-width: 900px) {
  .prices-section {
    padding-bottom: 0;
  }
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 60px 20px;
    padding-bottom: 60px;
    width: 100%;
  }
  .content-header {
    font-size: 2.1rem;
  }
  .prices-container {
    align-items: flex-start;
    justify-content: center;
    width: 80%;
  }
  .prices-photo {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    height: 800px;
  }
  .prices-photo-img {
    width: 100%;
  }
  .uno,.dos,.tres,.quatro {
    position: absolute;
    top: 0;
    right: 0;
  }
  .uno {
    top: 10%;
    border-radius: 7px;
    box-shadow: 0px 15px 14px -4px rgba(0,0,0,0.75);
  }
  .dos{
    z-index: 2;
    top: 40%;
    left: 15%;
    
    border-radius: 7px;
    box-shadow: 0px 15px 14px -4px rgba(0,0,0,0.75);
  }
  .tres {
    top: 70%;
    z-index: 0;
    border-radius: 7px;
    box-shadow: 0px 15px 14px -4px rgba(0,0,0,0.75);
  }
  .quatro {
    z-index: 1;
    top: 100%;
    left: 15%;
    border-radius: 7px;
    box-shadow: 0px 15px 14px -4px rgba(0,0,0,0.75);
  }
  
  .table {
    width: 30%;
  }

  td:nth-child(2) {
    padding-right: 5px;
  }
.prices-welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
  .prices-header {
    font-size: 5rem;
    text-align: left;
    text-indent: 250px;
    margin-top: 80px;
    margin-bottom: 0;
  }
  .prices-link,
  .prices-subheader {
    text-align: right;
    padding-right: 150px;
  }
  .prices-subheader {
    font-size: 1.3rem;
  }
  .prices-link {
    display: inline-block;
    margin-right: 0;
    
  }
}

@media (min-width: 901px) and (max-width: 1539px) {
  .prices-photo {
    display: none;
  }
  .table {
    width: 45%;
  }
}

@keyframes jumping {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
