.workers-section {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  background: var(--white);
  justify-content: center;
  align-items: center;
}
.workers-welcome {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url('../img/pinkflower3.jpg');
  width: 100%;
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;

  &__header {
    display: block;
    text-align: center;
    font-size: 2.1rem;
    letter-spacing: 5px;
    // text-transform: uppercase;
    font-family: var(--secondfont);
    color: var(--black);
  }
}
.workers-subheader {
  text-align: center;
  padding: 0 0px 10px 0px;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 300;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 80px;
  border-bottom: 12px solid var(--bg-grey);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--black);
  font-size: 1.5rem;
  word-break: break-word;

}
.worker {
  scroll-margin-top: 100px;
  margin-top: 20px;
  font-family: IBM Plex Sans, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--black);
  padding: 20px;
  margin-bottom: 50px;
  gap: 20px;
  &_image {
    max-width: 500px;
    &__element {
      width: 100%;
      border-radius: 5px;
    }
  }
  &_info {
    max-width: 500px;

    .worker_name {
      font-size: 1.3rem;
      font-weight: 700;
      color: var(--underline-rose);
      margin-bottom: 5px;
    }

    .worker_occupation {
      font-style: italic;
      margin: 0 0 7px 0;
    }
    .worker_occupation:nth-of-type(2) {
      margin-bottom: 15px;
    }
    .worker_description {
      line-height: 1.3rem;
      margin: 0 0 5px 0;
    }
    .worker_specialization {
      padding-left: 10px;
      margin-top: 10px;
      // display: flex;
      // flex-wrap: wrap;
      // gap: 20px;
      &__item {
        font-style: italic;
      }
    }
  }
}
.worker:nth-of-type(2n+2) {
  background-color: var(--bg-grey);
}
#worker-two .worker_image, #worker-four .worker_image {
  order: 1;
}
@media (min-width: 900px) {
  .workers-welcome {
    justify-content: flex-start;
    background-position: 0 0;
    &__header {
      font-size: 5rem;
      text-align: center;
      text-indent: 250px;
    }
  }
  .workers-subheader {
    font-size: 2.1rem;
  }
  .worker {
    margin-top: 0;
    flex-direction: row;
    width: 100%;
    align-items: center;
    &_image {
      max-width: 550px;
    }
    &_info {
      max-width: 50%;
    }
  }
}
