.workers-section {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  background: var(--white);
  justify-content: center;
  align-items: center;
}
.workers-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url('../img/pinkflower3.jpg');
  width: 100%;
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;

  &__header {
    display: block;
    text-align: center;
    font-size: 2.1rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: var(--secondfont);
    color: var(--black);
  }
}

@media (min-width: 900px) {
  .workers-welcome {
    justify-content: flex-start;
    background-position: 0 0;
    &__header {
      font-size: 5rem;
      text-align: left;
      text-indent: 250px;
    }
  }
}
