.about-section {
  padding: 20px;
  // padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
}
.about__welcome {
  font-family: "Dancing Script", cursive;
  margin-top: 60px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-flower {
    background-image: url("../img/welcome-flower.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 60px;
  }

  &-text {
    color: var(--underline-rose);
    font-size: 1.6rem;
    padding: 0px 10px 0px 10px;
    text-align: center;
  }

  &-header {
    text-align: center;
    padding-top: 10px;
    font-size: 2.1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--lightgrey);
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image-wrapper {
    margin-top: 30px;
    display: flex;
    width: fit-content;
    align-items: center;
    order: 1;
  }
  &__image {
    max-width: 100%;
    border-radius: 5px 50px 5px 50px;
    // border: 1px solid var(--lightrose);
  }
  &__text-wrapper {
    margin-top: 20px;
    padding: 0px 5px 0px 5px;
  }
  &__text {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.8rem;
    text-align: left;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--black);
    line-height: 1.5rem;
  }
  &__header {
    margin-bottom: 30px;
    font-family: "Noto Serif Display", serif;
    color: var(--lightgrey);
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 1.9rem;
    margin-top: 30px;
  }
  &__link {
    justify-content: center;
    display: flex;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 30px;
    font-size: 0.8rem;
    max-width: 200px;
    padding: 14px 22px;
    border: 1px solid var(--underline-rose);
    outline: none;
    cursor: pointer;
    color: var(--underline-rose);
    border-radius: 20px;
    transition: 0.3s background ease;
    background: transparent;
  }
  &__link:hover {
    background: var(--lightgrey);
    border: 1px solid var(--lightgrey);
    color: var(--white);
  }
  &__bg-img {
    display: none;
  }
  &__bg-title,
  &__bg-subtitle {
    display: none;
  }
}

@media (min-width: 900px) {
  .about__welcome {
    margin-top: 70px;
    margin-bottom: 60px;

    &-text {
      font-size: 1.8rem;
    }
  }
  .about-container {
    margin-top: 40px;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    // overflow: hidden;

    &__bg-title,
    &__bg-subtitle {
      display: block;
      width: 100%;
      height: fit-content;
      position: absolute;
      font-size: 24rem;
      top: -35%;
      left: 30%;
      color: var(--lightgrey);
      font-family: "Dancing Script", cursive;
      letter-spacing: 18px;
      opacity: 0.1;
      z-index: -10;
    }
    &__bg-subtitle {
      top: 42%;
      left: 50%;
      color: var(--underline-rose);
    }

    &__text-wrapper {
      margin-top: 0;
      width: 50%;
      margin-left: 15px;
      padding-right: 90px;
    }
    &__header {
      font-size: 2.5rem;
    }
    &__text {
      font-size: 1rem;
    }
    &__image-wrapper {
      margin-top: 0;
      order: 0;
      min-width: 40%;
      display: flex;
      justify-content: center;
    }
    &__image {
      min-width: 70%;
      border-radius: 5px 50px 5px 50px;
    }
  }
}

@media (min-width: 2500px) {
  .about-container {
    background-image: url("../img/bg-headers.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 200px center;
    &__bg-title,
    &__bg-subtitle {
      display: none;
    }
  }
}
