.about-section {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.about__welcome {
  font-family: "Dancing Script", cursive;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-flower {
    background-image: url("../img/welcome-flower.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 60px;
  }

  &-text {
    color: var(--lightrose);
    font-size: 1.6rem;
    padding: 0px 10px 10px 10px;
    text-align: center;
  }

  &-header {
    text-align: center;
    padding-top: 10px;
    font-size: 2.1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--lightgrey);
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image-wrapper {
    margin-top: 30px;
    display: flex;
    width: fit-content;
    align-items: center;
    order: 1;
  }
  &__image {
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid var(--lightrose);
  }
  &__text-wrapper {
    margin-top: 20px;
    padding: 0px 5px 0px 5px;
  }
  &__text {
    font-family: var(--font);
    font-size: 0.8rem;
    text-align: left;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--black);
    line-height: 1.5rem;
  }
  &__header {
    margin-bottom: 30px;
    font-family: var(--font);
    color: var(--black);
    font-size: 2.1rem;
    margin-top: 20px;
  }
  &__link {
    justify-content: center;
    display: flex;
    width: 100%;
    font-family: var(--font);
    margin-top: 30px;
    font-size: 0.8rem;
    max-width: 200px;
    padding: 14px 22px;
    border: 1px solid var(--underline-rose);
    outline: none;
    cursor: pointer;
    color: var(--underline-rose);
    border-radius: 20px;
    transition: 0.3s background ease;
    background: transparent;
  }
  &__link:hover {
    background: var(--lightgrey);
    border: 1px solid var(--lightgrey);
    color: var(--white);
  }
}

@media (min-width: 900px) {
  .about__welcome {
    margin-top: 20px;
    margin-bottom: 60px;

    &-text {
      font-size: 1.8rem;
    }
  }
  .about-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__text-wrapper {
      margin-top: 0;
      width: 50%;
      margin-left: 15px;
      padding-right: 90px;
    }
    &__header {
      font-size: 3rem;
      padding-bottom: 30px;
      font-family: var(--font);
    }
    &__text {
      font-size: 1rem;
    }
    &__image-wrapper {
      margin-top: 0;
      order: 0;
      width: 40%;
      display: flex;
      justify-content: center;
    }
    &__image{
      width: 65%;
    }
  }
}
