.contact-section {
  color: var(--white);
  padding: 20px;
  background: var(--black);
  font-family: 'IBM Plex Sans', sans-serif;
}
.contact__welcome {
  display: flex;
  flex-direction: column;
  order: -2;
  align-items: start;
  width: 100%;
  &-flower {
    display: none;
    width: 30px;
  }

  &-header {
    font-family: "Noto Serif Display", serif;
    text-align: left;
    letter-spacing: 0.5px;
    font-size: 3.3rem;
    margin-top: 30px;
    max-width: 230px;
    padding-bottom: 0px;
    border-bottom: 23px solid var(--underline-rose);
    margin-bottom: 50px;
    position: relative;
  }
}
.contact__logo {
  display: none;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.map__container {
  width: 100%;
  &-header {
    margin-bottom: 15px;
  }
}
.fa-location-dot {
  color: var(--map-dot);
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  order: -2;
  gap: 20px;
  position: relative;

  &__title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    line-height: 30px;

    span {
      color: var(--underline-rose);
      text-transform: uppercase;
    }
  }

  &__open-info {
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
.media {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  order: -1;
}
.media__header {
  margin-top: 20px;
}
.fa-square-facebook,
.fa-instagram,
.fa-linkedin {
  color: var(--underline-rose);
  transition: color 0.3s ease;
  margin: 5px;
}
.fa-square-facebook:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
  color: var(--white);
}

.media__quote {
  display: none;
}

@media (min-width: 900px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    max-height: 600px;
    margin-top: 70px;
    margin-bottom: 30px;
    gap: 40px;
  }
  .contact__welcome {
    padding: 0 60px 70px 60px;
    grid-column: 2/3;
    grid-row: 1/2;
    &-header {
      
      margin: 0;
      font-weight: 300;
      padding-bottom: 0px;
      border-bottom: none;
      letter-spacing: 5px;
      font-size: 5.3rem;
      color: var(--white);
    }
  }
  .contact__logo {
    display: block;
    padding-left: 50px;
    width: fit-content;
    &-image {
      border: 1px solid var(--white);
    border-radius: 50%;
      padding: 15px;
      width: 200px;
    }
  }
  .contacts {
    grid-column: 2/-3;
    grid-row: 2/3;
    position: relative;
    order: 0;
    // max-width: 33%;
  }
  .media {
    
    align-self: flex-start;
    grid-column: 3/-2;
    grid-row: 3/2;
    order: 1;
    // max-width: 33%;
  }
  .media__header {
    font-size: 1.4rem;
    margin-top: 0px;
  }
  .media__quote {
    width: 100%;
    opacity: 0.4;
    font-family: Elsie;
    text-transform: uppercase;
    display: block;
    font-size: 2.3rem;
    letter-spacing: 3px;
    font-weight: 300;
    margin-top: 15px;

    &-author {
      text-transform: none;
      margin-top: 15px;
      font-style: italic;
      font-family: "Dancing Script", cursive;
      font-size: 1.2rem;
    }
  }
  .map__container {
    grid-column: 1/2;
    grid-row: 1/3;
    // max-width: 33%;
  }
  .map__container-header {
    text-align: center;
    font-size: 1.4rem;
  }
  .contact-underline {
    margin: 0 auto;
    display: block;
    width: 70%;
    border-bottom: 1px solid var(--underline-rose);
    margin-bottom: 20px;
  }
}
