.contact-section {
  color: var(--white);
  padding: 20px;
  background: var(--black);
}
.contact-header {
  font-family: "Noto Serif Display", serif;
  text-align: left;
  letter-spacing: 0.5px;
  font-size: 2.1rem;
  margin-top: 60px;
  margin-bottom: 50px;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.map__container {
  width: 100%;
  &-header {
    margin-bottom: 10px;
  }
}
.fa-location-dot {
  color: var(--map-dot);
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  order: -2;
  gap: 10px;

  &__title {
    margin-bottom: 10px;
  }

  &__open-info {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.media-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  order: -1;
}
.media__subheader {
  margin-top: 20px;
}
.fa-square-facebook,
.fa-instagram {
  color: white;
}
.media__social {
  padding: 5px 0 0 0;

  &-facebook {
    margin-right: 5px;
  }
}

@media (min-width: 900px) {
  .contact-header {
    text-align: center;
  }
  .contact-wrapper {
    flex-direction: row;
  }
  .contacts {
    order: 0;
  }
  .media-wrapper {
    order: 1;
  }
  .media__subheader {
    margin-top: 0px;
  }
}
