@use "../utils" as *;

.gallery-section {
    
}

.gallery-container {
  margin-bottom: 50px;
}

.gallery-header {
  font-family: "Noto Serif Display", serif;
  color: var(--lightgrey);
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 2.1rem;
  margin: 100px 0 100px 0;
  color: var(--lightgrey);
}
