header {
  background-image: url("../img/face.jpg");
  background-position: center 100px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200vh;
}

.navbar {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(13, 44%, 83%, 0.7);
  padding: 15px;
  position: fixed;
  top: 0;
  backdrop-filter: blur(6px);

  &__container {
    width: 100px;
    min-width: 50px;
    margin-left: 20px;

    &-logo {
      max-width: 100%;
    }
  }

  &__list {
    padding-left: 40px;
    list-style: none;
    margin-right: 50px;
    // display: flex;
    // justify-content: space-around;

    &-item {
      display: inline-block;
    }

    &-item a {
      margin-left: 50px;
      color: var(--black);
      font-size: 1.1rem;
      letter-spacing: 1px;
      padding: 5px;
    }
  }
}
