header {
  // background-image: url("../img/face.jpg");
  // background-position: center 85px;
  // background-size: contain;
  // background-repeat: no-repeat;
  background-color: var(--white);
  height: 200vh;
}

.navbar {
  font-family: var(--font);
  font-weight: 300;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  // justify-content: space-between; ver2
  justify-content: center;
  background-color: hsl(0, 0%, 100%, 0.8);
  padding: 7px 0px 7px 0px;
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(6px);
  // box-shadow: 0 10px 30px rgba(196, 177, 177, 0.616); ver2

  &__image {
    width: 87px;
    min-width: 70px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: auto;
    // margin-left: 20px; ver2

    &-logo {
      max-width: 100%;
    }
  }

  &__list {
    // padding-left: 40px; ver2
    list-style: none;
    margin-right: auto;
    // margin-right: 50px; ver2

    &-item {
      display: inline-block;
    }

    &-item .links {
      margin-left: 50px;
      color: var(--black);
      font-size: 1.1rem;
      letter-spacing: 1px;
      padding: 5px;
    }
  }
}
.navbar-underline {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    0.55turn,
    hsl(0, 0%, 100%),
    var(--underline-rose),
    hsl(0, 0%, 100%)
  );
  border-image-slice: 1;
  height: 95px;
  width: 80%;
  margin: 0 auto;
}
.hero-container {
  margin-top: 25px;
  display: flex;
  padding: 20px;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__header {
    font-family: "Elsie", cursive;
    font-weight: 900;
    text-align: center;
    font-size: 4.3rem;
    letter-spacing: 3px;
    color: var(--lightgrey);
    margin-top: 70px;
    text-transform: uppercase;

    &-beauty {
      color: var(--lightrose);
    }
  }
  &__subheader {
    position: absolute;
    font-family: "Dancing Script", cursive;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 36px;
    font-size: 1.4rem;
    text-align: center;
    transform: skew(14deg, -15deg);
    // left: 200px;
    top: 200px;
    color: var(--lightpink);
  }

  &__text {
    font-family: var(--secondfont);
    font-size: 1rem;
    text-align: left;
    color: var(--black);
    font-weight: 400;
    padding-top: 32px;
    line-height: 1.5rem;
    letter-spacing: 2px;
    position: relative;
  }

  &__image {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--lightrose);
  }

  &__button {
    font-family: var(--font);
    margin-top: 30px;
    font-size: 0.8rem;
    width: 47%;
    padding: 14px 22px;
    border: 1px solid var(--underline-rose);
    background: none;
    outline: none;
    cursor: pointer;
    color: var(--underline-rose);
    border-radius: 20px;
    transition: 0.3s all ease;
    background: var(--white);
  }
  
  &__button:hover {
    background: var(--lightgrey);
    border: none;
    color: var(--white);
  }
}
.wrapper .button-link {
  display: flex;
  width: 100%;
}
.test {
  margin-top: 30px;
  background-image: url('../img/arrow2.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(18deg);
  width: 40%;
  height: 50px;
  
}
.wrapper.one {
  order: 1;
  position: relative;
  max-width: 536px;
}

@media (max-width: 900px) {
  .navbar-underline {
    margin-top: 15px;
  }
  .navbar {
    padding-top: 3px;
    justify-content: space-between;
    border-image: none;

    &__image {
      margin-left: 40px;
    }
  }
  .navbar__list {
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 88px;
    height: 60vh;
    background-color: var(--white); //#d6cdcd
    margin-right: 0;
    border: 1px solid var(--lightrose);
    padding: 10px;
    transform: translateY(-150%);
    transition: 0.8s transform cubic-bezier(0.65, 0.05, 0.36, 1);

    &-item .links {
      display: block;
      position: relative;
      margin-left: 0;
    }
  }
}
.active {
  transform: translateY(0%);
}
.links--animation {
  animation: linksAnimation 1s both;
}

@media (min-width: 900px) {
  .hero-container {
    flex-direction: row;
  }
  .wrapper.one {
    order: 0;
  }
  .wrapper__header {
    font-size: 5rem;
    margin-top: 0;
    text-align: left;
  }
  .wrapper__subheader {
    top: 130px;
    left: 180px;
    font-size: 1.9rem;
  }
  .wrapper__text {
    font-size: 0.7rem;
  }
  .wrapper__text::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 50%;
    background-image: url(../img/arrow1.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(30deg);
    top: 133px;
    right: 100px;

  }
  .test {
    display: none;
  }
}

@keyframes linksAnimation {
  from {
    transform: translateY(-200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
