header {
  background-color: var(--bg-rose);
}

.navbar {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(274, 47%, 97%, 0.8);
  padding: 7px 0px 7px 0px;
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(6px);

  &__image {
    width: 87px;
    min-width: 70px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: auto;

    &-logo {
      max-width: 100%;
    }
  }

  &__list {
    list-style: none;
    margin-right: auto;

    &-item {
      display: inline-block;
    }

    &-item .links {
      margin-left: 50px;
      color: var(--black);
      font-size: 1.2rem;
      letter-spacing: 1px;
      padding: 5px;
      transition: color 0.3s ease;
    }
    &-item .links:hover {
      color: var(--underline-rose);
    }
  }
  &__social {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
    &-link {
      &_facebook,
      &_instagram,
      &_linkedln {
        margin: 5px;
        font-size: 1.3rem;
        transition: .3s color ease;
        color: var(--black);
        &:hover {
          color: var(--underline-rose);
        }
      }
    }
  }

  &__contact {
    position: relative;
    font-size: 1rem;
    padding-right: 5px;
    list-style: none;
    color: var(--black);
    font-weight: 500;
    // border-right: 3px solid var(--black);
    transition: color 0.3s ease;
    cursor: default;
    &:hover {
      color: var(--underline-rose);
      // border-right: 3px solid var(--underline-rose);
    }
  }
}
.navbar-underline {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    0.55turn,
    hsl(0, 0%, 100%),
    var(--underline-rose),
    hsl(0, 0%, 100%)
  );
  border-image-slice: 1;
  height: 95px;
  width: 80%;
  margin: 0 auto;
}
.hero-container {
  margin-top: 25px;
  display: flex;
  padding: 20px;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__header {
    font-family: "Elsie", cursive;
    font-weight: 900;
    text-align: center;
    font-size: 4.3rem;
    letter-spacing: 3px;
    color: var(--lightgrey);
    margin-top: 70px;
    text-transform: uppercase;

    &-beauty {
      color: var(--lightpink);
    }
  }
  &__subheader {
    position: absolute;
    font-family: "Dancing Script", cursive;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 36px;
    font-size: 1.4rem;
    text-align: center;
    transform: skew(14deg, -15deg);
    top: 200px;
    color: var(--lightpink);
  }

  &__text {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.9rem;
    text-align: left;
    color: var(--black);
    font-weight: 400;
    padding-top: 52px;
    line-height: 1.5rem;
    letter-spacing: 2px;
    position: relative;
  }

  &__image {
    width: 100%;
    border-radius: 15px 50px 30px;
  }
}
.button-link {
  align-self: flex-start;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 30px;
  font-size: 0.8rem;
  width: 47%;
  padding: 14px 22px;
  border: 1px solid var(--underline-rose);
  background: none;
  outline: none;
  cursor: pointer;
  color: var(--underline-rose);
  border-radius: 20px;
  transition: 0.3s background ease;
  background: transparent;

  &:hover {
    background: var(--lightgrey);
    border: 1px solid var(--lightgrey);
    color: var(--white);
  }
}

.wrapper.one {
  order: 1;
  position: relative;
  max-width: 536px;
}

@media (max-width: 900px) {
  .navbar-underline {
    margin-top: 15px;
  }
  .navbar {
    padding-top: 3px;
    justify-content: space-between;
    border-image: none;

    &__image {
      margin-left: 40px;
    }
  }
  .navbar__list {
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 88px;
    height: 60vh;
    background-color: var(--bg-rose); //#d6cdcd
    margin-right: 0;
    border: 1px solid var(--lightrose);
    padding: 10px;
    transform: translateY(-150%);
    transition: 0.8s transform cubic-bezier(0.65, 0.05, 0.36, 1);

    &-item .links {
      display: block;
      position: relative;
      margin-left: 0;
    }
  }
  .navbar__contact {
    display: none;
  }
  .navbar__social {
    display: none;
  }
}
.active {
  transform: translateY(0%);
}
.links--animation {
  animation: linksAnimation 1s both;
}

@media (min-width: 900px) {
  .hero-container {
    flex-direction: row;
  }
  .wrapper.one {
    order: 0;
    flex-direction: column;
  }
  .wrapper__header {
    font-size: 7rem;
    margin-top: 0;
    text-align: left;
  }
  .wrapper__subheader {
    top: 180px;
    left: 240px;
    font-size: 1.9rem;
  }
  .wrapper__text {
    padding-top: 14px;
    font-size: 0.7rem;
  }
}

@keyframes linksAnimation {
  from {
    transform: translateY(-200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
