.offer-section {
  position: relative;
  background-color: var(--lightgrey);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-header {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
  padding: 20px 0 0px 0px;
  font-family: "Noto Serif Display", serif;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1.9rem;
}

.offer-underline {
  display: flex;
  height: 1px;
  width: 30%;
  background-color: var(--white);
  margin-bottom: 50px;
}
.offer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.offer {
  background-color: var(--lightgrey);
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--white);
  height: 350px;
  max-width: 400px;
  padding: 20px;

  &__title {
    text-align: center;
  }
  &__description {
    text-align: center;
  }
  &__link {
    color: inherit;
    border: 1px solid var(--white);
    padding: 6px 20px 6px 10px;
    border-radius: 20px;

    &-svg {
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: var(--white);
      stroke-width: 1;
      transform: translateX(-5px);
      transition: all 0.4s ease;
    }

    &-text {
      text-transform: uppercase;
      position: relative;
      font-weight: 500;
      font-size: 1.4rem;
      padding-right: 10px;
    }
  }
  &__link:hover svg {
    transform: translateX(5px);
  }

  //   &__photo {
  //     object-fit: cover;
  //     height: 100%;
  //   }
}
.offer.two {
  background-color: var(--lightrose);
  color: var(--black);
}
.offer.two .offer__link {
  border: 1px solid var(--black);

  &-svg {
    stroke: var(--black);
  }
}
// .offer:last-child {
//     width: auto;
// }

@media (min-width: 900px) {
  .offer-container {
    flex-direction: row;
  }
  .offer-header {
    text-align: center;
  }
}
