.offer-section {
  position: relative;
  background-color: var(--bg-rose);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-header {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 0 0px 0px;
  font-family: "Noto Serif Display", serif;
  color: var(--lightgrey);
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 2.1rem;
}

.offer-underline {
  display: flex;
  height: 1px;
  width: 60%;
  background-color: var(--lightgrey);
  margin-bottom: 30px;
}
.offer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  gap: 50px;
}

.offer {
  margin: 5px;
  background-color: var(--lightrose);
  // border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--black);
  height: 420px;
  max-width: 400px;
  padding: 20px;

  &__title {
    text-align: center;
  }
  &__description {
    text-align: center;
  }
  &__list {
    padding: 5px;
    margin: 5px 0 5px 0;
    list-style: none;
    &-item {
      font-weight: 700;
    }
  }
  &__link {
    color: inherit;
    border: 1px solid var(--black);
    padding: 8px 20px 8px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;

    &-svg {
      width: auto;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: var(--black);
      stroke-width: 1;
      transform: translateX(-5px);
      transition: all 0.4s ease;
    }

    &-text {
      text-transform: uppercase;
      position: relative;
      font-weight: 500;
      font-size: 1.1rem;
      padding-right: 10px;
    }
  }
  &__link:hover {
    background: var(--black);
    color: var(--white);
  }
  &__link:hover svg {
    transform: translateX(5px);
    stroke: var(--white);
  }
}
.offer.two {
  border: 1px solid var(--lightrose);
  background-color: var(--white);
  color: var(--black);
  text-align: left;
}
.offer.two .offer__link {
  border: 1px solid var(--black);

  &-svg.middle {
    stroke: var(--black);
  }
}
.offer.two .offer__link:hover {
  .middle {
    stroke: var(--white);
  }
}

.offer.four {
  background-color: transparent;
  justify-content: flex-end;
  align-items: start;
  max-width: 400;
  padding: 0;
  margin-top: 0px;
  order: -1;
  // background-image: url("../img/bg-logo-beauty-grey.png");
  .four__text-small {
    font-style: italic;
    font-size: 1.3rem;
  }
  .four__text-big {
    font-size: 2.5rem;
    font-family: Noto Serif Display, serif;
  }
}

@media (min-width: 900px) {
  .offer-section {
    background-image: none;
  }
  .offer-container {
    flex-direction: row;
    gap: 0;
  }
  .offer-header {
    width: 100%;
    font-size: 2.5rem;
    margin-top: 75px;
    text-align: center;
  }
  .offer-underline {
    margin-bottom: 80px;
  }
  .offer.four {
    justify-content: center;
  }
}
