.team-section {
  padding: 100px 20px 60px 20px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-grey);
  
}
.team__welcome {
    width: 100%;
    position: relative;
    position: relative;
    margin-bottom: 20px;

    &-bg {
        position: absolute;
        height: 130px;
        width: 100%;
        background-image: url(../img/floral3.svg);
        background-position: center -2px;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .1;
    }
}

.team-header {
  display: block;
  font-family: var(--secondfont);
  color: var(--underline-rose);
  text-align: center;
  font-size: 2.1rem;
    
}
.team-subheader {
    font-family: Dancing Script,cursive;
    color: var(--lightgrey);
    font-size: 1.8rem;
    margin-bottom: 45px;
    text-align: center;
}

.persons-container {
  padding: 17px;
  border-radius: 7px;
    border: 1px solid var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;

  .person {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--black);
    margin: auto;
    border-radius: 7px;
    width: 260px;
    height: 350px;
    position: relative;

    &__photo {
      margin: 0 auto 0 auto;

      &-worker {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &__info {
      //   box-shadow: 1px -33px 7px -24px rgb(255, 255, 255);
      position: absolute;
      top: 40%;
      text-align: center;
      background: var(--white);
      border-radius: 7px;

      &-title {
        background: transparent;
        padding: 17px;
        font-size: 1.3rem;
        font-weight: 700;
        color: var(--underline-rose);
      }
      &-text {
        max-width: 340px;
        padding: 7px;
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.2rem;
        margin-bottom: 5px;
      }
      &-link {
        color: var(--black);
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        font-size: 0.8rem;
        font-family: "IBM Plex Sans", sans-serif;
        width: 50%;
        padding: 4px 12px;
        margin-top: 10px;
        margin-bottom: 14px;
        border: 1px solid var(--black);
        outline: none;
        cursor: pointer;
        border-radius: 20px;
        transition: background 0.3s ease;
        &:hover {
          background: var(--lightgrey);
          border: 1px solid var(--lightgrey);
          color: var(--white);
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .person {
    gap: 20px;
  }
  .team-header {
    font-size: 2.4rem;
    //   margin-bottom: 45px;
  }
}
