.team-section {
  padding: 20px;
  margin-top: 30px;
  display: grid;
  justify-content: space-around;
  align-items: center;
}

.team-header {
  text-align: center;
}

.persons-container {
  border: 1px solid red;
  padding-block: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  .person {
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 260px;
    height: 350px;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &-title {
        text-align: center;
        width: 100%;
      }
    }

    &-link {
      text-align: center;
      display: block;
    }
  }
}

