.team-section {
  padding: 20px;
  margin-top: 30px;
  display: grid;
}

.team-container {
  width: 100%;
  border: 1px solid red;
  padding-block: 30px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  
  .card {
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    width: 285px;
    height: 350px;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
      .card-title {
        text-align: center;
        width: 100%;
      }
    }
  }
}
.card-link {
  padding-top: rem(28);
  color: var(--white);
  text-align: center;
  text-decoration: overline;
  display: block;
  font-size: rem(22);
  font-weight: 300;
}
